<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">
                    <span class="fadeIn" data-wow-delay="0s">Clothing</span> |
                    <span class="fadeIn" data-wow-delay="0.2s">Jewelry</span> |
                    <span class="fadeIn" data-wow-delay="0.4s">Accessories</span> |
                    <span class="fadeIn" data-wow-delay="0.6s">Gifts</span>
                </h2>
                <hr class="primary">
                <h4 class="section-heading">Welcome to Piramide!</h4>
                <p>We offer a vibrant selection of fair trade clothing, jewelry, and accessories from Bali and Thailand, including our exclusive "Dragonfly of Colorado" line.</p>
                <p>Our store also features eco-friendly, natural fiber clothing from the USA and around the world. Nestled in the charming town of Manitou Springs at the base of Pikes Peak, we offer a relaxed shopping experience featuring a diverse selection of styles and sizes, all at affordable prices.</p>
                <p>Please visit our <a href="#contact" style="color: white; text-decoration: underline;">Facebook</a> for our latest updates and featured items.</p>
            </div>
        </div>
    </div>
</section>
