<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Clothing | Jewlery | Accessories | Gifts</h2>
                <hr class="primary">
                <p> Welcome to Piramide! We offer a vibrant selection of fair trade clothing, jewelry, and accessories from Bali and Thailand, including our exclusive "Dragonfly of Colorado" line. Our store also features eco-friendly, natural fiber clothing from the USA and around the world. Located in Manitou Springs, at the base of Pikes Peak, we provide a stress-free shopping experience with a wide range of styles and sizes at reasonable prices. For every Elephant Pant sold, we donate $1 to the Save Elephant Foundation in Chiang Mai, Thailand. </p>
            </div>
        </div>
    </div>
</section>
