<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading wow bounceIn" data-wow-delay=".1s">Clothing | Jewelry | Accessories | Gifts</h2>
                <hr class="primary">
                <h4 class="section-heading"> Welcome to Piramide! </h4>
                <h4> We offer a vibrant selection of fair trade clothing, jewelry, and accessories from Bali and Thailand, including our exclusive "Dragonfly of Colorado" line. </h4>
                <h4> Our store also features eco-friendly, natural fiber clothing from the USA and around the world. Nestled in the charming town of Manitou Springs at the base of Pikes Peak, we offer a relaxed shopping experience featuring a diverse selection of styles and sizes, all at affordable prices. </h4>
                <h4> Please visit our <a href="#contact" style="color: white; text-decoration: underline;">facebook</a> for our latest updates and featured items.</h4>
            </div>
        </div>
    </div>
</section>
