<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to get shopping? That's great! Visit us at 735 Manitou Ave Manitou Springs, CO 80829 or give us a call at (719) 685-5912!</p>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="https://www.facebook.com/YourPageName" target="_blank">
                    <i class="fa fa-facebook-f fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Facebook</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://www.google.com/maps/place/Your+Business+Name" target="_blank">
                    <i class="fa fa-google fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Google Business</p>
                </a>
            </div>
        </div>
    </div>
</section>
