<section id="contact"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to get shopping? That's great! Visit us at 735 Manitou Ave Manitou Springs, CO 80829 or give us a call at (719) 685-5912!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center">
                <a href="https://www.facebook.com/p/Piramide-Dragonfly-of-Colorado-100057512617168/" target="_blank">
                    <i class="fa fa-facebook-f fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Facebook</p>
                </a>
            </div>
            <div class="col-lg-4 text-center">
                <a href="mailto:piramidenf@msn.com" target="_blank">
                    <i class="fa fa-envelope fa-3x wow bounceIn" data-wow-delay=".2s"></i>
                    <p>Email Us</p>
                </a>
            </div>
            <div class="col-lg-4 text-center">
                <a href="https://www.google.com/maps/place/Piramide%2FDragonfly+of+Colorado/@38.8573372,-104.9161403,17z/data=!3m1!4b1!4m6!3m5!1s0x871350a1e8b78fb5:0xa8827c44a6f7169f!8m2!3d38.8573372!4d-104.9161403!16s%2Fg%2F1thz2373?entry=ttu&g_ep=EgoyMDI1MDExNS4wIKXMDSoASAFQAw%3D%3D" target="_blank">
                    <i class="fa fa-google fa-3x wow bounceIn" data-wow-delay=".3s"></i>
                    <p>Google Business</p>
                </a>
            </div>
        </div>
    </div>
</section>
