<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <div>
                        <div>
                      <img src="img/portfolio/prayer_flag.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </a>
            </div>
           <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <div>
                        <div>
                      <img src="img/portfolio/silver_necklace.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <div>
                        <div>
                      <img src="img/portfolio/bag_clothes.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </a>
            </div>
         <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <div>
                        <div>
                      <img src="img/portfolio/hot_tapestry.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <div>
                        <div>
                      <img src="img/portfolio/batik_toys.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </a>
            </div>
           <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <div>
                        <div>
                      <img src="img/portfolio/blouse_western_skirt.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
